
# Couchbase Connection Settings
COUCHBASE_URL="couchbases://your-connection-string"
COUCHBASE_USERNAME="your-username"
COUCHBASE_PASSWORD="your-password"
COUCHBASE_BUCKET="your-bucket-name"
COUCHBASE_SCOPE="your-scope-name"
COUCHBASE_COLLECTION="your-collection-name"
CN_ROOT='/usr/src'

# MCP Server Settings
MCP_SERVER_NAME=couchbase-capella-mcp
MCP_TRANSPORT=stdio
FASTMCP_PORT=8080
READ_ONLY_QUERY_MODE=true

LOG_LEVEL=info

DOCS_ENABLED=true
DOCS_BASE_DIR=/path/to/mcp-server-couchbase/docs
DOCS_FILE_EXT=.md

PLAYBOOKS_ENABLED=true
PLAYBOOKS_BASE_DIR=/path/to/mcp-server-couchbase/playbook
PLAYBOOKS_FILE_EXT=.md

PWD=/path/to/omcp-server-couchbase
